<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Snippet</title>
</head>

<body>
  {{{ content }}}
  <script>
    require('module').globalPaths.push('{{ path_node_module }}');
  </script>
  <script src="{{vendor}}"></script>
  <script src="{{entry}}"></script>
</body>
</html>
