<header class="header header-3">
  <div class="branding">
    <a href="#">
      <span class="title">Snippez</span>
    </a>
    <a href="#" class="nav-link nav-icon add-snippet" style="margin-left: 1em">
      <clr-icon shape="plus-circle"></clr-icon>
    </a>
  </div>
  <ng-content></ng-content>
  <div class="header-actions">
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for snippet...">
      </label>
    </form>
  </div>
</header>
