<div class="main-container">
  <app-header>
    <div class="header-nav">
      <a href="javascript://" (click)="run()" class="nav-link nav-icon">
        <clr-icon shape="play"></clr-icon>
      </a>
      <a href="javascript://" (click)="save($event)" class="nav-link nav-icon">
        <clr-icon shape="floppy"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="share"></clr-icon>
      </a>
    </div>
  </app-header>
  <div *ngIf="!snippet" class="content-container">Loading snippet ...</div>
  <div *ngIf="!!snippet" class="content-container">
    <nav class="sidenav">
      <snippet-file-list [fileList]="snippet.files" [fileFocus]="fileFocus" [selectItem]="selectFile" [onAddNewFile]="addNewFile"
        [onRemoveFile]="removeFile" class="sidenav-content"></snippet-file-list>
      <div class="sidenav-content">
        <h4>Description</h4>
        <div *ngIf="!showDescriptionEditor" (click)="toggleEditDescription()"><pre>{{snippet.description}}</pre></div>
        <div *ngIf="showDescriptionEditor">
          <textarea *ngIf="showDescriptionEditor" [(ngModel)]="description">{{snippet.description}}</textarea>
          <button class="btn btn-success-outline" (click)="saveDescription(description)">Save</button>
          <button class="btn btn-link" (click)="toggleEditDescription()">Cancel</button>
       </div>

      </div>
    </nav>
    <div class="content-area">
      <snippet-editor #editor class="snippet-editor" [src]="fileFocusSrc" (change)="save($event)"></snippet-editor>
    </div>
  </div>
</div>
